{% extends 'base.html' %}
{% block content %}
    <h2>Add Stock</h2>

    <br/>

    <form action="{% url 'home' %}" class="d-flex" role="search" method="POST">
      {% csrf_token  %}
      <input class="form-control me-2" type="search" placeholder="Add to Portfolio" aria-label="Search" name="ticker">
      <button class="btn btn-outline-secondary" type="submit">Add Stock</button>
    </form>

    <br/>

    {% if api %}
        {%  if "Error" in api %}
            There was a problem with the ticker symbol
        {%  else %}
            <br />
            <br />
            {% for stock in ticker %}
                {{  stock }}
                <br />
                <br />
            {%  endfor %}
        {% endif %}
    {% endif %}
    <br />
{% endblock %}.
