{% extends 'base.html' %}
{% block content %}
    <h2>Add Stock</h2>

    <br/>

    <form action="{% url 'add_stock' %}" class="d-flex" role="search" method="POST">
      {% csrf_token  %}
      <input class="form-control me-2" type="search" placeholder="Add to Portfolio" aria-label="Search" name="ticker">
      <button class="btn btn-outline-secondary" type="submit">Add Stock</button>
    </form>

    <br/>

    {% if ticker %}
        {%  if "Error" in ticker %}
            There was a problem with the ticker symbol
        {%  else %}
            <br />
            <br />
            {% for stock in ticker %}
                {{ stock }}
                <br />
                <br />
            {%  endfor %}
        {% endif %}
    {% endif %}

    {% if db %}
        {%  if "Error" in ticker %}
            There was a problem with the ticker symbol
        {%  else %}
            <br />
            <br />
            {% for item in db %}
                Id : {{ item.id }} <br />
                Ticker: {{ item.ticker }}<br/>
                Date: {{item.date}}<br />
                Opening Price: {{ item.opem }}<br />
                Closing Price: {{ item.close }}<br />
                <br />
                <br />
            {%  endfor %}
        {% endif %}
    {% endif %}
    <br />
{% endblock %}.
