{% extends 'base.html' %}
{% block content %}
    <h2>Delete Stock</h2>
    {{  db }}
    {% if db %}
        {%  if "Error" in ticker %}
            There was a problem with the ticker symbol
        {%  else %}
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col">Ticker</th>

                </tr>
              </thead>
              <tbody>
                {% for item in db %}
                    <tr>
                        <th scope="row"><a href="{% url 'delete_ticker' item.ticker %}">Delete Stock {{ item.ticker }}</a></th>
                    </tr>
                {%  endfor %}
              </tbody>
            </table>
            <br />
            <br />
        {% endif %}
    {% endif %}

{% endblock %}