{% extends 'base.html' %}

{% block content %}
    <H2>Portfolio</H2>
    <br/>
    <br/>

    {% if api %}
        {%  if "Error" in api %}
            There was a problem with the ticker symbol
        {%  else %}
            {{ symbol }}
            <br />
            <br />
            {% for price in prices %}
                Date: {{price.date}}<br />
                Opening Price: {{ price.opening_price }}<br />
                Closing Price: {{ price.closing_price }}<br />
                <br />
            {%  endfor %}
        {% endif %}
    {% endif %}
    <br />
{% endblock %}.

