{% extends 'base.html' %}

{% block content %}
    <H2>Portfolio</H2>
    <br/>
    <br/>

    {% if data %}
        {%  if "Error" in data %}
            There was a problem with the ticker symbol
        {%  else %}
            <h4>{{ data.meta.symbol }}</h4>
            <br />
            <br />
            {% for price in data.values %}
                Ticker: {{ data.meta.symbol }}<br/>
                Date: {{price.datetime}}<br />
                Opening Price: {{ price.opem }}<br />
                Closing Price: {{ price.close }}<br />
                <br />
            {%  endfor %}
        {% endif %}

        {{  data }}

    {% endif %}
    <br />
{% endblock %}.

